body {
    background-color: #0b335d ;
}

.navbar.navbar-expand-lg.bg-dark {
   background: #8893e6;
   background: linear-gradient(0deg, #8893e6 2%, #0d37f9 47%, #8893e6 97%); 
}

.navbar_redes{
    list-style: none;
}

.fa-brand.fa-solid {
    color: #ffffff !important;
}

i.fa-brands:hover {
   color: #0000ff;
}

i.fa-solid.fa-envelope:hover {
    color: #ff0000;
 }

i.fa-solid.fa-user-lock:hover {
    color: #008000;
}

i.fa-solid.fa-user:hover {
    color: #008000;
}
.list-group-item.redes{
    --bs-list-group-border-width : 0%;
    background: none;

}

.list-group-item.fa-brand {
    background: none;
    color: #ffffff;
}

.list-group.sidebar {
    margin-top: 7rem;

}

.col-7.edicion_principal {
    color: #ffffff;
    margin-top: 7rem;
}

.modal-backdrop {
    z-index:auto;
}
.acerca {
    color: #ffffff !important;
    margin-top: 3rem;
    text-align: center;
    font-size: 80%;
}

.editor {
    position:absolute;
}

.editor.pen {
    margin-left: -6.5%;
    margin-top: 6%;
}

.picperfil {
    margin-top: -10%;
    margin-left: 0%;
    width: 40%;
    position: relative;
}
.info {
    font-size: 90%;
    padding-left: 35%;
    text-align: center;
    color:#ffffff;
}
