#titulo_A {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0%;
    color: white;
}

.navbar-custom {
    background-color: #48998f;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #48998f;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: black;
}