body {
    background-color: aquamarine;
}

.navbar.navbar-expand-lg.bg-dark {
   background: #8893e6;
   background: linear-gradient(0deg, #8893e6 2%, #0d37f9 47%, #8893e6 97%); 
}

.navbar_redes{
    list-style: none;
}

.fa-brand.fa-solid {
    color: #ffffff !important;
}

i.fa-brands:hover {
   color: #0000ff;
}

i.fa-solid.fa-envelope:hover {
    color: #ff0000;
 }

i.fa-solid.fa-user-lock:hover {
    color: #000000;
}

.list-group {
    --bs-list-group-border-width : 0%;

}

.list-group-item {
    background: none;
    color: #ffffff;
}
.modal-backdrop {
    z-index:auto;
}
.acerca {
    color: #2a0c70 !important;
    margin-top: 3rem;
    text-align: center;
    font-size: 100%;
}

.picperfil {
    margin-top: -30%;
    margin-left: 30%;
    width: 60%;
}
.info {
    font-size: 90%;
    padding-left: 35%;
    text-align: center;
}
